<div style="margin-top: -105px">
    <div class="row justify-content-md-center">
        <div class="col col-3 bg-white habilidades d-flex flex-column justify-content-center align-items-center"
            style="border-radius:15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-hdd-fill" style="text-align: center;"></i>

            <h3 style="text-align: center;">Backend</h3>
            <p>
                i work from development, automatic testing and production launch with continuous delivery
            </p>
            <p class="text-primary cabecera" style="text-align: left;">
                Stack:
            </p>
            <ul>
                <li>WEB APIs</li>
                <li>ASP .NET Core</li>
                <li>Entity Framework Core</li>
                <li>JavaScript</li>
            </ul>
        </div>

        <div class="col col-3 bg-white habilidades d-flex flex-column justify-content-center align-items-center"
            style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
            <i class="bi-code-slash" style="text-align: center;"></i>
            <h3 style="text-align: center;">Frontend</h3>
            <p>
                I can create FrontEnds strongs which gets all business requirements
            </p>
            <p class="text-primary cabecera" style="text-align: left;">
                Stack:
            </p>
            <ul>
                <li>React Hooks</li>
                <li>Angular Material</li>
                <li>Pruebas Automaticas</li>
                <li>jQuery</li>
            </ul>
        </div>
    </div>
</div>
</div>